* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "ubuntu";
}

.logo_img {
    width: 100%;
}

header {
    position: fixed;
    height: 10.2%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    background: #0b2239;
}

header .header-left {
    display: flex;
    align-items: center;
}

header .header-left .logo {
    width: 140px;
}

header .header-left nav {
    margin-left: 50px;
}

header .header-left nav ul {
    display: flex;
}

.main_nav ul li a {
    display: block;
    color: #cfd9e0;
    font-size: 18px;
    padding: 5px 10px;
    transition: 0.2s;
}

.main_nav ul li a:hover,
.main_nav ul li a.active {
    color: #fff;
}

.main_nav .login-signup {
    display: none;
}

header .header-right {
    display: flex;
    align-items: center;
}

header .login-signup {
    color: #cfd9e0;
    font-weight: bold;
}

header .login-signup a {
    display: inline-block;
    color: #0b2239;
    background: #4ad295;
    padding: 5px 12px;
    border-radius: 5px;
}

header .header-right .hamburger {
    margin-left: 20px;
    cursor: pointer;
    display: none;
}

header .header-right .hamburger div {
    width: 30px;
    height: 2px;
    margin: 6px 0;
    background: #fff;
}

@media only screen and (max-width: 900px) {
    header {
        padding: 0 20px;
    }

    header .header-right .hamburger {
        display: block;
    }

    header .header-left nav {
        margin: 0;
        position: absolute;
        top: -100%;
        left: 0;
        width: 100%;
        height: fit-content;
        background-color: #0b2239;
        padding: 10px;
        transition: 0.3s;
        text-align: center;
        z-index: -1;
    }

    header .header-left nav.active {
        top: 10.2%;
    }

    header .header-left nav ul {
        display: block;
    }
}

@media only screen and (max-width: 500px) {
    .main_nav .login-signup {
        display: block;
        margin-top: 10px;
    }

    header .header-right .login-signup {
        display: none;
    }
}

::-webkit-scrollbar{
    width: 6px;
}

::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 12px;
}

.sidebar{
    position: fixed;
    left: 0;
    top: 10.2%;
    background-color: #0b2239;
    width: 80px;
    height: 89.8%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    padding-right: 8px;

}
.side_button{
    width: 74px;
    height: 74px;
}

.main_main{
    background-color: #1d2a35;
    top: 10.2%;
    width: 100%;
    height: 89.8%;
    position: fixed;
    left: 80px;
}